.ivanicof_widget_about img{
	width: 185px;
	height: 185px;
	display: block;
    margin: 0 auto ;
    border-radius: 50%;
	padding: 4px;
    background-color: white;
    box-shadow: 1px 1px 1px #3333338a;
}

.ivanicof_widget_about .about_widget_textarea{
	color:#868381;
	
}