.ivanicof-instagram-widget-input-slider {
	position: relative;
    width: 90%;
    margin-top: -4px;
}

.ivanicof-instagram-widget-slider-opt-count {
	position: relative;
    float: right;
    margin: -2px 0 0 0;
}